[submodule "CatolYeah/vendor/spdlog"]
	path = CatolYeah/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "CatolYeah/vendor/GLFW"]
	path = CatolYeah/vendor/GLFW
	url = https://github.com/almirfilho77/glfw
[submodule "CatolYeah/vendor/imgui"]
	path = CatolYeah/vendor/imgui
	url = https://github.com/almirfilho77/imgui
